/*  GİRİŞ SAYFASI */
body {
    background: #003366;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/* Login kutusu*/
.login-container {
    background: #fff;
    border-radius: 10px; 
    padding: 30px;
    max-width: 400px; /* Mobilde %100, masaüstünde 400 px */
    width: 100%;
    box-shadow: 0 4px 15px rgba(0,0,0,.2); 
}

/* Logo kutu içinde ortada dursun */
.login-logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 180px;
}

.btn-primary {
    background: #003366;
    border: none;
}

    .btn-primary:hover {
        background: #002244; 
    }
